@media (max-width: 1000px)
{
    .main__image
    {
        max-width: 25rem;
        max-height: 20rem;
    }

    .main__form
    {
        max-width: 25rem;
    }
}

@media (max-width: 900px)
{
    .main__image
    {
        max-width: 20rem;
        max-height: 16rem;
    }
}

@media (max-width: 615px)
{
    .main__form
    {
        flex-direction: column;
        max-width: 13.5rem;
        padding: 1rem 0.5rem
    }

    .main-form__section
    {
        flex-direction: column;
    }

    .main__image
    {
        max-width: 15rem;
        max-height: 12rem;;
    }

    .main-form__button
    {
        font-size: 0.8rem;
    }
}

@media (max-width: 530px)
{
    .main-form__input
    {
        padding: 0.3rem
    }

    .main__image
    {
        max-width: 12.5rem;
        max-height: 10rem;
    }

    .main
    {
        justify-content: space-evenly;
    }

    .main-form__label
    {
        font-size: 1.1rem;;
    }

    .main-form__input
    {
        padding: 0.3rem 0;
    }
}

@media (max-width: 460px)
{
    .main__image
    {
         max-width: 10rem;
        max-height: 8rem;
    }
}